* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
select,
textarea {
    font: inherit;
}

input {
    all: unset;
}

button {
    all: unset;
    cursor: pointer;
    font: inherit;
    box-sizing: border-box;
    -webkit-appearance: none;
}
