.balanceSummary {
    display: flex;
    flex-direction: column;
}

.label {
    color: var(--muted);
}

.total {
    font-weight: 600;
}

.balanceTotal {
    font: var(--font-l);
    font-weight: bold;
}

.container {
    margin-bottom: 5px;
}

.line {
    margin: var(--s-4) 0;
    width: 100%;
    height: 1px;
    background: var(--border);
}

.balanceSkeleton {
    display: flex;
    flex-direction: row;
    gap: var(--s-2);
    align-items: center;
}
